:root {
    font-family: "Roboto", sans-serif;
}
/* Task 3 start */
div {
  font-size: 1em;
}
span {
  font-size: 1.6em;
}
/* Task 3 end */
/* Task 4 start */
strong {
  font-size: 1.6rem;
}
/* Task 4 end */
/* Task 5 end */
ul {
  list-style-type: square;
}
/* Task 5 start */
