/* - Відредагуйте файл exercises/lecture-06/css/main.css 
- Вмтановіть колір тега a indigo 
- Вмтановіть колір тега a gold,
якщо це посилання вже відвідали 
- Вмтановіть колір тега a salmon,
якщо вказівник користувача знаходиться над ним 
- Вмтановіть колір тега a red,
який є активованим - Вмтановіть колір тега a orange,
який отримав фокус */
/*************************************** Task 2 start ***************************************/
a {
  color: indigo;
}

a:visited {
  color: gold;
}

a:hover {
  color: salmon;
}

a:active {
  color: red;
}

a:focus {
  color: orange;
}
/*************************************** Task 2 end ***************************************/

/* - Якщо введене у поле input значення знаходтьбся в межах 1-10, встановіть фоновий колір зеленим з прозорістю 0.25 
- Якщо введене у поле input значення знаходтьбся поза межами 1-10, встановіть фоновий колір чераоним з прозорістю 0.25 */
/*************************************** Task 3 start ***************************************/
input:in-range {
color: rgba(0, 255, 0, 0.3)
}
input:out-of-range {
  color: rgba(255, 0, 0, 0.3)
}
/*************************************** Task 3 end ***************************************/

/* - Встановіть першому елементу li помаранчевий колір */
/*************************************** Task 4 start ***************************************/
.task-4 ul li:first-child {
  color: orange;
}
/*************************************** Task 4 end ***************************************/

/* - Встановіть першому елементу li та першому елементу span помаранчевий колір */
/*************************************** Task 5 start ***************************************/
.task-5 ul :first-of-type {
  color: orange;
}

/*************************************** Task 5 end ***************************************/

/* - Встановіть останньому елементу li та останньому елементу span помаранчевий колір */
/*************************************** Task 6 start ***************************************/
.task-6 ul :last-of-type {
  color: orange;
}
/*************************************** Task 6 end ***************************************/

/* - Встановіть елементу li помаранчевий колір, якщо він не має аргумента class="first-item"
- Встановіть всім елементаи li чорний текст і жовтий фон, крім елемента li з класом .first-item та останнього елемента li у списку */
/*************************************** Task 7 start ***************************************/
.task-7 ul li:not(.first-item) {
  color: orange;
}

.task-7 ul li:not(.first-item):not(:last-of-type) {
  color: black;
  background-color: yellow;
}

/*************************************** Task 7 end ***************************************/

/* - Встановіть дпугому елементу li помаранчевий колір 
- Встановіть кожному парному елементу li помаранчевий колір 
- Встановіть кожному елементу li помаранчевий колір за фрпмулою 2n+6 */
/*************************************** Task 8 start ***************************************/
ol :nth-child(2){
  color: orange;
}
ol :nth-child(even) {
  color: orange;
}
ol :nth-child(2n+6) {
  color: orange;
}
/*************************************** Task 8 end ***************************************/

/* - Вчтавте за допомогою псевдоелемента before перед Укрвїні слово Слава */
/*************************************** Task 9 start ***************************************/
h1.ua::before{
  content: 'Слава ';
}
/*************************************** Task 9 end ***************************************/

/* - Вставте за допомогою псевдоелемента after після Героям слово Слава ! */
/*************************************** Task 10 start ***************************************/
h1.hero::after {
  content: ' Слава';
}

/*************************************** Task 10 end ***************************************/

/*************************************** Task 11 start ***************************************/
p.cont::before {
  content: "\0A7";
}
/*************************************** Task 11 end ***************************************/