@media screen and (max-width: 1110px){
    .persons_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .person_card {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .person_text {
        padding: 0 45px;
    }

    section.persons {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 900px){
    .main_nav {
        display: none;
    }

    .burger {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
    }

    .burger span,.burger::after, .burger::before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #fff;
        margin: 0 auto;
    }

    .burger span {
        top: 16px;
        transition:all .3s ease;
        opacity: 1;
    }

    .burger::after, .burger::before {
        content: "";
    }

    .burger::after {
        bottom: 5px;
    }

    .burger::before {
        top: 5px;
    }

    .burger:hover {
        cursor: pointer;
    }

    .active {
        display: block;
    }

    .burger.open__menu span {
        opacity: 0;
        transition:all .4s ease;
    }

    .burger.open__menu::before {
        transform: rotate(38deg);
        top: 16px;
        transition:all .4s ease;
    }

    .burger.open__menu::after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition:all .4s ease;
    }
    .fixed-page {
        overflow: hidden;
    }

    .main_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color:#e84545;
        padding: 70px 10px 20px 10px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_item {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .nav_link {
        font-size: 24px;
    }
    .removeoverf {
        overflow: hidden;
    }
}

@media screen and (max-width: 768px){
    .title {
        font-size: 48px;
    }

    .banner_text {
        font-size: 18px;
    }

    .header {
        padding-bottom: 60px;
    }

    .section1 {
        padding: 65px 0 65px 0;
    }

    .section1_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .container {
        max-width: 1156px;
        margin: 0 auto;
        padding: 0 25px;
    }

    .pic_item {
        width: 50%;
    }

    section.persons {
        padding-bottom: 20px;
    }

    section.pictures {
        padding-bottom: 60px;
    }

    .footer_wrap {
        padding: 35px 0 25px 0;
    }

    .under_footer_block {
        background-color: #313454;
        padding: 20px 0;
    }

    .line {
        border: 1px solid #505369;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 414px){
    .title {
        font-size: 30px;
    }

    .banner_text {
        margin-bottom: 32px;
    }

    .line {
        border: 1px solid #505369;
        margin-bottom: 30px;
    }

    .top_header_block {
        margin-bottom: 24px;
    }

    .footer_row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .addres, .social_media, .about {
        width: 100%;
    }

    .social_media {
        margin: 10px 0;
    }

    .banner_text {
        margin-bottom: 32px;
    }

    .title {
        margin-bottom: 26px;
    }

    .bi_marg {
        margin-bottom: 75px;
    }
}