/*************************************** Task 1 start ***************************************/
/* - Встановити background для класу negative як лінійний градієнт, що направлений вліво та має такі точки зупинки: -50%, -10%, 0%, 100%,150%. Для кожної точки зупинки встановити колір, що змінюється від світло-синього до темно-синього.  */
.negative {
  background: linear-gradient(270deg,
      #ADD8E6 -50%,
      #558dbb -10%,
      #527ae6 0%,
      #0000ac 100%,
      #000056 150%
    );
}

/* - Встановити background для класу percents як лінійний градієнт, що направлений вниз та має такі точки зупинки: 2em, 4em, 8em,
16em, 32em, 64em, 128em. Для кожної точки зупинки встановити колір,що змінюється від світло-зеленого до темно-зеленого.  */

.percents {
  background: linear-gradient(180deg,
      #c7fdc7 2em,
      #6df76d 4em,
      #2ffe2f 8em,
      #0df90d 16em,
      #00dd00 32em,
      #00a300 64em,
      #003d00 128em
      );
}

/* - Встановити background для класу radial два радіальних градієнта з типом ellipse, перший з яких містить 2 кольори - помаранчевий та прозорий і направлений вверх, а другий містить 2 кольори - червоний та прозорий і направлений вниз. */
.radial {
  background:
    radial-gradient(ellipse at top,
      orange,
      transparent),
    radial-gradient(ellipse at bottom,
      red,
      transparent);
}
/*************************************** Task 1 end ***************************************/


/*************************************** Task 2 start ***************************************/
.svg-icon-item {
  height: 200px;
  width: 200px;
  stroke: black;
}
/*************************************** Task 2 end ***************************************/
